[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blmeco"]
	path = blmeco
	url = https://github.com/fraenzi/blmeco
[submodule "carcass"]
	path = carcass
	url = https://github.com/fraenzi/carcass
